/* Landingg image */
.about-land {
  background-image: url('https://images.unsplash.com/photo-1552581234-26160f608093?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') !important;
}
/* Welcome Section */
.about-us {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
/* Mobile & Tablet Rules */
@media (max-width: 767px) {
  .about-us {
    margin-top: 40px;
    text-align: center;
  }
  .about-us .left-sec img {
    display: none;
  }
}
/* Small screen rules */
@media (min-width: 768px) {
  .about-us .left-sec img {
    display: none;
  }
}
/* Medium screen rules */
@media (min-width: 992px) {
  .about-us .left-sec img {
    width: 122px;
    height: 122px;
    border-radius: 33px;
    display: block;
    margin-right: 20px;
  }
}
/* Large device rule */
@media (min-width: 1200px) {
  .about-us .left-sec img {
    width: 444px;
    height: 444px;
    border-radius: 33px;
    display: block;
  }
}
.about-us .left-sec {
  max-width: 100%;
}
.about-us .left-sec img {
  width: 444px;
  height: 444px;
  border-radius: 33px;
}
.about-us .right-sec {
  max-width: 100%;
  margin-right: 50px;
}
.about-us .right-sec span {
  color: var(--main);
  font-weight: bold;
  font-size: 25px;
  position: relative;
}
.about-us .right-sec span::before {
  position: absolute;
  content: '';
  background-color: var(--dark);
  width: 50px;
  height: 2px;
  left: 110%;
  bottom: 26%;
}
.about-us .right-sec .welcome {
  font-size: 30px;
  color: var(--dark);
  letter-spacing: 1px;
  font-weight: bold;
  border-bottom: 20px;
}
.about-us .right-sec span::after {
  position: absolute;
  content: '';
  background-color: var(--dark);
  width: 37px;
  height: 2px;
  left: 111%;
  bottom: 65%;
}
.about-us .right-sec p {
  line-height: 2;
  font-size: 16px;
  color: var(--dark);
}
.about-us .right-sec .p1 {
  margin-bottom: 20px;
}
.about-us .right-sec .p2 {
  margin-bottom: 20px;
}
.about-us .right-sec li {
  color: var(--dark);
  line-height: 1.5;
  position: relative;
}
.about-us .right-sec ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.about-us .right-sec li::before {
  content: '';
  position: absolute;
  top: 52%;
  left: -15%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #b1a6a4;
}
.about-us .about-btn {
  padding: 20px;
  border: none;
  transform-style: preserve-3d;
  background: -webkit-linear-gradient(top left, white 50%, #b1a6a4 50%);
  background: -moz-linear-gradient(top left, white 50%, #b1a6a4 50%);
  background: -o-linear-gradient(top left, white 50%, #b1a6a4 50%);
  background: linear-gradient(top left, white 50%, #b1a6a4 50%);
  border-radius: 20px 0 20px 0;
  color: var(--dark);
  font-weight: bold;
  width: 180px;
  margin-top: 10px;
}