@import url(https://fonts.googleapis.com/css?family=Roboto);

:root {
  --primary-color: #B1A6A4;
  --secondary-color: #413F3D;
}
html * {
  font-family: 'Roboto', sans-serif !important;
  cursor: none;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  height: 550px;
  text-align: center;
  text-align: center;
  display: flex;
  width: auto;
  align-items: center;
  justify-content: flex-end;
  width: 1200px;
  background-color: var(--primary-color);
  box-shadow: 0 2.8px rgba(0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  transition: all 0.3s;
}