/* Slide show style */
.landing {
  min-height: 100vh;
  background-image: url('../img/corousel-1.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
}
/* Adjusting it in extra small devices */
@media (max-width: 767px) {
  .landing .text-cont .title {
    font-size: 18px !important;
  }
  .landing .text-cont .details {
  }
  .landing {
    max-width: 100%;
    background-position: center;   
  }
}
/* Small devices */
@media (min-width: 768px) {
  .landing .text-cont .title {
    font-size: 18px !important;
  }
}
/* Medium device rules */
@media (min-width: 992px) {
  .landing .text-cont .title {
    font-size: 40px !important;
  }
}
/* Big device rules */
@media (min-width: 1200px) {
  .landing .text-cont .title {
    font-size: 55px !important;
  }
}
.landing .layout {
  background-color: #413f3dac;
  z-index: 1;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.landing .text-cont {
  display: inline-block;
  padding: 10px;
  position: absolute;
  top: 45%;
  left: 4%;
  z-index: 1;
  margin-top: -30px;
}
.landing .text-cont span {
  font-weight: bold;
  color: var(--main);
  font-size: 20px;
}
a {
  text-decoration: none;
}
span,
p {
  margin: 0;
  padding: 0;
}
.landing .text-cont .title {
  color: white;
  font-weight: bold;
  font-size: 55px;
  letter-spacing: 5px;
  line-height: 1.5;
}
.landing .text-cont .details {
  color: white;
  font-weight: bold;
}
.btn {
  position: absolute;
  top: 83%;
  left: 5%;
  z-index: 1;
}
.btn button {
  padding: 10px;
  border: none;
  background: -webkit-linear-gradient(top left, white 50%, #b1a6a4 50%);
  background: -moz-linear-gradient(top left, white 50%, #b1a6a4 50%);
  background: -ms-linear-gradient(top left, white 50%, #b1a6a4 50%);
  background: -o-linear-gradient(top left, white 50%, #b1a6a4 50%);
  background: linear-gradient(top left, white 50%, #b1a6a4 50%);
  color: var(--dark);
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  font-size: 20px;
  width: 160px;
  border-radius: 15px 0px;
}
@media (max-width: 767px) {
  /* To left a space between button in small scaree */
  .btn button {
    margin-bottom: 10px;
  }
  .landing .text-cont .details {
    font-weight: bold;
    font-size: 13px;
  }
}
/* Start Feature section */
.feature {
  margin-top: 50px;
  height: 150vh;
  padding: 30px;
  background-color: #ddd;
}
@media (max-width: 767px) {
  .image {
    position: relative;
    max-width: 100%;
    height: 120vh !important;
    background-image: url('https://images.unsplash.com/photo-1558021212-51b6ecfa0db9?q=80&w=1783&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px auto !important;
  }
  .top,
  .right,
  .bottom {
    display: none;
  }
  .boxes .card-1 {
    top: 0% !important;
    left: 3% !important;
  }
  .boxes .card-2 {
    top: 35% !important;
    left: 3% !important;
  }
  .boxes .card-3 {
    top: 68% !important;
    left: 3% !important;
  }
  .boxes .card-3,
  .card-2,
  .card-1 {
    width: 207px !important;
    height: 277px !important;
    position: absolute !important;
  }
  .boxes .card i {
    font-size: 15px !important;
  }
  .boxes .card h3 {
    font-size: 10px !important;
  }
  .boxes .card p {
    font-weight: bold;
    width: 80px;
    font-size: 12px !important;
  }
  .feature span {
    margin-left: -67px;
  }
  .about-us .right-sec span::before,
  .about-us .right-sec span::after {
    display: none;
  }
}
/* Small screen rules */
@media (min-width: 768px) and (max-width: 991px) {
  .feature  {
    height: 120vh;
  }
  .image {
    position: relative;
    max-width: 100%;
    height: 80vh;
    background-image: url('https://images.unsplash.com/photo-1558021212-51b6ecfa0db9?q=80&w=1783&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    margin: 100px auto;
  }
  .top,
  .right,
  .bottom {
    display: none;
  }
  .boxes .card-1 {
    top: 2% !important;
    left: 3% !important;
  }
  .boxes .card-2 {
    top: 2% !important;
    left: 69% !important;
  }
  .boxes .card-3 {
    top: 69% !important;
    left: 35% !important;
  }
  .boxes .card-3,
  .card-2,
  .card-1 {
    width: 207px !important;
    height: 277px !important;
    position: absolute !important;
  }
  .boxes .card i {
    font-size: 15px !important;
  }
  .boxes .card h3 {
    font-size: 10px !important;
  }
  .boxes .card p {
    line-height: 2;
    font-weight: bold;
    width: 80px;
    font-size: 12px !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .image {
    position: relative;
    max-width: 100%;
    height: 120vh;
    background-image: url('https://images.unsplash.com/photo-1558021212-51b6ecfa0db9?q=80&w=1783&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    margin: 100px auto;
  }
  .top,
  .right,
  .bottom {
    display: none;
  }
  .boxes .card-1 {
    top: 2% !important;
    left: 3% !important;
  }
  .boxes .card-2 {
    top: 2% !important;
    left: 69% !important;
  }
  .boxes .card-3 {
    top: 52% !important;
    left: 35% !important;
  }
  .boxes .card-3,
  .card-2,
  .card-1 {
    width: 207px !important;
    height: 277px !important;
    position: absolute !important;
  }
  .boxes .card i {
    font-size: 15px !important;
  }
  .boxes .card h3 {
    font-size: 10px !important;
  }
  .boxes .card p {
    line-height: 2;
    font-weight: bold;
    width: 80px;
    font-size: 12px !important;
  }
}
@media (min-width: 1200px) {
  .image {
    position: relative;
    width: 1067px;
    height: 450px;
    background-image: url('https://images.unsplash.com/photo-1558021212-51b6ecfa0db9?q=80&w=1783&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    margin: 100px auto;
  }
  .top {
    position: absolute;
    height: 450px;
    background-image: url('https://images.unsplash.com/photo-1558021212-51b6ecfa0db9?q=80&w=1783&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    margin: 100px auto;
  }
  .top {
    position: absolute;
    height: 50px;
    width: 500px;
    background-color: var(--main);
    top: -50px;
    right: 0px;
  }
  .right {
    position: absolute;
    height: 451px;
    width: 50px;
    background-color: var(--main);
    top: 0px;
    right: 0;
  }
  .bottom {
    position: absolute;
    height: 325px;
    width: 500px;
    background-color: var(--main);
    bottom: -325px;
    right: 0px;
  }
  .boxes .card {
    padding: 20px;
    background-color: #c5b6ae;
    max-width: 100%;
    height: 425px;
    position: absolute;
    top: 66%;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  .boxes .card i {
    font-size: 28px !important;
  }
  .boxes .card h3 {
    font-size: 21px !important;
  }
  .boxes .card p {
    line-height: 2;
    font-weight: bold;
    width: fit-content;
  }
}
.image {
  position: relative;
  height: 450px;
  width: 1067px;
  background-image: url('https://images.unsplash.com/photo-1558021212-51b6ecfa0db9?q=80&w=1783&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-repeat: no-repeat;
  margin: 100px auto;
}
.top {
  position: absolute;
  height: 50px;
  width: 500px;
  background-color: var(--main);
  top: -50px;
  right: 0px;
}
.right {
  position: absolute;
  height: 451px;
  width: 50px;
  background-color: var(--main);
  top: 0px;
  right: 0;
}
.bottom {
  position: absolute;
  height: 325px;
  width: 500px;
  background-color: var(--main);
  bottom: -325px;
  right: 0px;
}
.boxes .card {
  background-color: rgb(197, 182, 174);
  width: 322px;
  height: 425px;
  position: absolute;
  top: 66%;
  text-align: left;
  padding: 20px;
}
.boxes .card-1 {
  left: -75px;
}
.boxes .card-2 {
  left: 29%;
}
.boxes .card-3 {
  left: 64.8%;
}
.boxes .card i {
  font-size: 28px;
  color: #807179;
}
.boxes .card h3 {
  font-size: 21px;
  color: #000000b3;
}
.boxes .card p {
  line-height: 2;
  color: gray;
  font-weight: bold;
  width: fit-content;
}
.feature span {
  color: var(--main);
  font-weight: bold;
  font-size: 25px;
  position: relative;
  left: 45%;
}
.feature span::before {
  position: absolute;
  content: '';
  background-color: var(--dark);
  width: 50px;
  height: 2px;
  left: 110%;
  bottom: 26%;
}
.feature span::after {
  position: absolute;
  content: '';
  background-color: var(--dark);
  width: 37px;
  height: 2px;
  left: 111%;
  bottom: 65%;
}
/* End the feature section */
/* About us section */
.about-us {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
/* Mobile & Tablet Rules */
@media (max-width: 767px) {
  .about-us {
    margin-top: 40px;
    text-align: center;
  }
  .about-us .left-sec img {
    display: none;
  }
  .about-us .right-sec {
    max-width: 100%;
  }
  .about-us .right-sec p {
    max-width: 100%;
    line-height: 2 !important;
    font-size: 13px !important;
  }
}
/* Small screen rules */
@media (max-width: 768px) {
  .about-us .left-sec img {
    display: none;
  }
}
/* Medium screen rules */
@media (min-width: 992px) {
  .about-us .left-sec img {
    width: 122px;
    height: 122px;
    border-radius: 33px;
    display: block;
    margin-right: 20px;
  }
}
/* Large devices rules */
@media (min-width: 1200px) {
  .about-us .left-sec img {
    width: 444px;
    height: 444px;
    border-radius: 33px;
    display: block;
  }
}
.about-us .left-sec {
  max-width: 100%;
}
.about-us .left-sec img {
  width: 444px;
  height: 444px;
  border-radius: 33px;
}
.about-us .right-sec {
  max-width: 50%;
  margin-right: 50px;
}
.about-us .right-sec span {
  color: var(--main);
  font-weight: bold;
  font-size: 25px;
  position: relative;
}
.about-us .right-sec span::before {
  position: absolute;
  content: '';
  background-color: var(--dark);
  width: 50px;
  height: 2px;
  left: 110%;
  bottom: 26%;
}
.about-us .right-sec span::after {
  position: absolute;
  content: '';
  background-color: var(--dark);
  width: 37px;
  height: 2px;
  left: 111%;
  bottom: 65%;
}
.about-us .right-sec .welcome {
  font-size: 30px;
  color: var(--dark);
  letter-spacing: 1px;
  font-weight: bold;
  border-bottom: 20px;
}
.about-us .right-sec p {
  line-height: 2;
  font-size: 16px;
  color: gray;
  line-height: 2.5;
}
img.github-link {
  width: 114px;
  height: 34px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.alx-link {
  width: 50px;
  height: 27px;
  margin-bottom: 70px;
  margin-top: 20px;
}
/* .about-us .right-sec .p2 {
  margin-bottom: 20px;
} */
.about-us .about-btn {
  padding: 20px;
  border: none;
  transform-style: preserve-3d;
  background: -webkit-linear-gradient(top left, white 50%, #b1a6a4 50%);
  background: -moz-linear-gradient(top left, white 50%, #b1a6a4 50%);
  background: -ms-linear-gradient(top left, white 50%, #b1a6a4 50%);
  background: -o-linear-gradient(top left, white 50%, #b1a6a4 50%);
  background: linear-gradient(top left, white 50%, #b1a6a4 50%);
  color: var(--dark);
  font-weight: bold;
  width: 180px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 15px 0px;
}
/* category section */
.courses-sec {
  margin-top: 40px;
}
.courses-sec span,
.courses-sec p {
  padding: 0;
  margin: 0;
}
.courses-sec .pop-span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main);
  font-size: 20px;
  position: relative;
  font-weight: bold;
}
.courses-sec .pop-span::before {
  content: '';
  width: 50px;
  height: 1px;
  background-color: var(--dark);
  position: absolute;
  top: 70%;
  left: 54%;
}
.courses-sec .pop-span::after {
  content: '';
  width: 50px;
  height: 1px;
  background-color: var(--dark);
  position: absolute;
  top: 70%;
  left: 43%;
}
.courses-sec .course-p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projcard-container {
  margin: 50px 0;
}